body {
    font:12px arial;
    color: #000000;
    text-align:left; }
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#000000;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
.button2 {
  background-color: #911C14;
  border: none;
  color: white;
  margin-top: -17px;
  padding: 8px 61.5px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 3px 3px;
  cursor: pointer;
  width: 90;
  height: 90;
  margin-left: -30px;
}