.button {
  background-color: #911C14;
  border: none;
  color: white;
  float: center;
  padding: 8px 140px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 0px 3px;
  cursor: pointer;
}